<div class="tys-quizzes">

<div class="tys-quizzes-title text-shortcut" {{action 'getUser'}}>Your profile</div>
{{#each model as |user|}}
         <div class="tys-question-results-title" {{action 'getUser'}} as |user|>{{user.name}}</div>
		 {{/each}}
		 
	  
      {{#list-filter filter=(action 'getResultForQuiz' model.id) as |answers|}}
      {{#each answers as |answer|}}
	  {{#quiz-filter filter=(action 'getQuiz' answer.id) as |quiz|}}
         <div class="tys-quizzes-item">
		 <div class="tys-question-results-title" title="{{ quiz.title }}">{{ quiz.title }}</div>
            <div class="tys-quizzes-title text-shortcut" title="{{ answer.title }}">{{ answer.value }} %</div>
         </div>
		 {{/quiz-filter}}
      {{/each}}
   {{/list-filter}}
</div>