<div class="tys-quizzes">

<div class="tys-quizzes-title text-shortcut">Профиль</div>
   {{#each model as |user|}}
      <div class="tys-question-results-title">{{user.name}}</div>
	{{/each}}
   {{#list-filter filter=(action 'getResultForQuiz') as |answers|}}
      {{#each answers as |answer|}}
       <div class="tys-quizzes-item">
		      <div class="tys-question-results-title" title="{{ quiz.title }}">{{ answer.title }}</div>
            <div class="tys-question-results-percent text-shortcut" title="{{ answer.title }}">{{ answer.stringView }}</div>
            <!-- <div class="tys-question-results-clear" {{ action "deleteResultsForQuiz" answer.quiz_id }}>Сбросить результат</div> -->
		 </div>
      {{/each}}
   {{/list-filter}}
</div>