<div class="tys-questionnairies">
   {{#questionnairies-filter categoryes=(action 'getAllCategoryes') filter=(action 'filterByCategory') as |questionnairies|}}
      {{#each questionnairies as |quest|}}
         <div class="tys-questionnairies-item">
            <div class="tys-questionnairies-title text-shortcut" title="{{ quest.title }}">{{ quest.title }}</div>
            <div class="tys-questionnairies-category text-shortcut" title="{{ quest.category-title }}">{{ quest.categorytitle }}</div>
            <div class="tys-questionnairies-description text-shortcut" title="{{ quest.description }}">{{ quest.description }}</div>
            <button class="tys-questionnairies-description-button tys-button normal">Начать тест</button>
         </div>
      {{/each}}
   {{/questionnairies-filter}}
</div>
