<div class="tys-questionnairies-filter">
   <div class="tys-questionnairies-filter-category">
      <div class="tys-questionnairies-filter-header">Категория</div>
      {{#each categoryes as |category|}}
         <div class="tys-questionnairies-filter-category-item text-shortcut{{if category.active ' hightlighted'}}" {{ action 'setCategory' category.id }}>{{ category.title }}</div>
      {{/each}}
   </div>
   <div class="tys-questionnairies-filter-clear" {{ action 'setCategory' }}>Очистить</div>
</div>
{{yield results}}